.guadalupe
{
  background-color: #b4f2c4;
  border: 1px solid #2e2e2e;
}

.santiago
{
  background-color: #ffd4d7;
  border: 1px solid #2e2e2e;
}

.alex
{
  background-color: #f1ffc9;
  border: 1px solid #2e2e2e;
}

